.campuslands-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f0fdff;
}

.campuslands-landing .menu {
  display: flex;
  max-width: 1920px;
  height: 92px;
  align-items: center;
  gap: 171px;
  padding: 26px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .link {
  position: relative;
  width: 183px;
  height: 33px;
}

.campuslands-landing .logo-campul-b {
  position: absolute;
  width: 137px;
  height: 32px;
  top: 0;
  left: 27px;
  object-fit: cover;
}

.campuslands-landing .container {
  position: relative;
  flex: 0 0 auto;
}

.campuslands-landing .header-main {
  display: flex;
  flex-direction: column;
  height: 1055px;
  align-items: center;
  justify-content: center;
  gap: 43px;
  padding: 40px 20px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f0fdff;
}

.campuslands-landing .container-wrapper {
  display: flex;
  height: 437px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.campuslands-landing .div {
  display: flex;
  flex-direction: column;
  max-width: 2018px;
  width: 389px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  position: relative;
  margin-top: -5px;
  margin-bottom: -5px;
}

.campuslands-landing .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .heading {
  justify-content: center;
  padding: 0px 20px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .convierte-tus-ideas {
  position: relative;
  width: 388px;
  margin-top: -1px;
  margin-left: -29.5px;
  margin-right: -29.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 55px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 57px;
}

.campuslands-landing .text-wrapper {
  color: #2a2a2a;
  letter-spacing: -1.1px;
}

.campuslands-landing .span {
  color: #5e3ae2;
  letter-spacing: -1.1px;
}

.campuslands-landing .container-2 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 89px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -10.5px;
  margin-right: -10.5px;
}

.campuslands-landing .p {
  position: relative;
  width: 338px;
  height: 89px;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #2a2a2a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .container-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.campuslands-landing .link-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #5e3ae2;
  border-radius: 16px;
}

.campuslands-landing .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #f0fdff;
  font-size: 17.9px;
  letter-spacing: -0.72px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .overlay-shadow-wrapper {
  display: flex;
  flex-direction: column;
  height: 445px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .overlay-shadow {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 446px;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: #ffffff01;
  border-radius: 40px;
  box-shadow: 0px 20px 84px -1.75px #2459ed21, 0px 6.38px 26.81px -1.31px #2459ed17,
    0px 2.41px 10.14px -0.88px #2459ed14, 0px 0.8px 3.34px -0.44px #2459ed12;
}

.campuslands-landing .overlap-group {
  position: relative;
  width: 395px;
  height: 446px;
  left: -5px;
}

.campuslands-landing .div-2 {
  position: absolute;
  width: 395px;
  height: 446px;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-image: url(./img/6zzldyowpmdggavocwqrx6qdbyw-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .border {
  position: absolute;
  width: 390px;
  height: 446px;
  top: 0;
  left: 5px;
  border-radius: 40px;
  border: 1px solid;
  border-color: #2459ed1a;
}

.campuslands-landing .logos {
  display: flex;
  flex-direction: column;
  height: 606px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .background {
  display: flex;
  flex-direction: column;
  height: 580px;
  align-items: center;
  padding: 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f0fdff;
  overflow: hidden;
}

.campuslands-landing .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5e3ae2;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 18px;
}

.campuslands-landing .container-4 {
  display: inline-flex;
  flex-direction: column;
  height: 577px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: -20px;
}

.campuslands-landing .list-wrapper {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 543px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.campuslands-landing .list {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  max-height: 135px;
  height: 135px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .group {
  position: relative;
  width: 111.34px;
  height: 44.86px;
  margin-top: -177.9px;
  background-image: url(./img/peer-market-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-2 {
  position: relative;
  width: 164px;
  height: 27.52px;
  margin-top: -108.05px;
  background-image: url(./img/taskman2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-3 {
  position: relative;
  width: 93.52px;
  height: 35.53px;
  margin-top: -55.53px;
  background-image: url(./img/cms-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-4 {
  position: relative;
  width: 141.51px;
  height: 32.24px;
  background-image: url(./img/sinergia1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-5 {
  position: relative;
  width: 67.21px;
  height: 50.94px;
  background-image: url(./img/maclearning1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-6 {
  position: relative;
  width: 103.46px;
  height: 39.28px;
  margin-bottom: -42.45px;
  background-image: url(./img/hooy1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-7 {
  position: relative;
  width: 55.38px;
  height: 49.24px;
  margin-bottom: -116.69px;
  background-image: url(./img/fullsmart2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-8 {
  position: relative;
  width: 94.11px;
  height: 36.21px;
  margin-bottom: -177.9px;
  background-image: url(./img/smartdata1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .que-ofrecemos {
  display: flex;
  flex-direction: column;
  height: 1696px;
  align-items: center;
  gap: 30px;
  padding: 60px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.campuslands-landing .group-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 267px;
}

.campuslands-landing .container-5 {
  display: flex;
  width: 390px;
  height: 267px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.campuslands-landing .container-6 {
  display: flex;
  flex-direction: column;
  width: 387px;
  height: 484px;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: -217px;
  border-radius: 40px;
}

.campuslands-landing .container-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #5e3ae2;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 18px;
}

.campuslands-landing .qu-ofrecemos-wrapper {
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.campuslands-landing .qu-ofrecemos {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 56px;
}

.campuslands-landing .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #2a2a2a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #f0fdff;
  font-size: 18px;
  letter-spacing: -0.72px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .frame {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1276px;
}

.campuslands-landing .rectangle {
  width: 388px;
  height: 1276px;
  border-radius: 20px;
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(206, 211, 255, 0), rgb(205.67, 210.85, 255)) 1;
  background: linear-gradient(180deg, rgb(255, 254.97, 254.97) 0%, rgb(240, 253, 255) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.campuslands-landing .overlap-group-wrapper {
  position: absolute;
  width: 209px;
  height: 191px;
  top: 547px;
  left: 92px;
}

.campuslands-landing .overlap-group-2 {
  position: relative;
  width: 207px;
  height: 191px;
}

.campuslands-landing .rectangle-2 {
  width: 206px;
  height: 191px;
  border-radius: 20px;
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(232, 232, 232), rgb(255, 255, 255)) 1;
  position: absolute;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-7 {
  position: absolute;
  width: 207px;
  height: 42px;
  top: 134px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 21px;
}

.campuslands-landing .ellipse {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 26px;
  left: 50px;
}

.campuslands-landing .img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 53px;
  left: 79px;
}

.campuslands-landing .overlap-wrapper {
  position: absolute;
  width: 208px;
  height: 191px;
  top: 45px;
  left: 93px;
}

.campuslands-landing .overlap {
  position: relative;
  width: 206px;
  height: 191px;
  border-radius: 20px;
}

.campuslands-landing .text-wrapper-8 {
  position: absolute;
  height: 23px;
  top: 139px;
  left: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 22.3px;
  white-space: nowrap;
}

.campuslands-landing .group-wrapper {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 26px;
  left: 50px;
  background-image: url(./img/ellipse-1-1.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-10 {
  position: absolute;
  width: 59px;
  height: 58px;
  top: 23px;
  left: 22px;
}

.campuslands-landing .group-11 {
  position: absolute;
  width: 208px;
  height: 191px;
  top: 798px;
  left: 93px;
}

.campuslands-landing .text-wrapper-9 {
  position: absolute;
  height: 23px;
  top: 139px;
  left: 40px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 22.3px;
  white-space: nowrap;
}

.campuslands-landing .img-wrapper {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 26px;
  left: 50px;
  background-image: url(./img/ellipse-1-2.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-12 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 27px;
  left: 29px;
}

.campuslands-landing .group-13 {
  position: absolute;
  width: 208px;
  height: 191px;
  top: 296px;
  left: 93px;
}

.campuslands-landing .text-wrapper-10 {
  position: absolute;
  height: 23px;
  top: 139px;
  left: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 22.3px;
  white-space: nowrap;
}

.campuslands-landing .overlap-group-3 {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 26px;
  left: 50px;
  background-image: url(./img/ellipse-1-3.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-14 {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 24px;
  left: 29px;
}

.campuslands-landing .group-15 {
  position: absolute;
  width: 208px;
  height: 191px;
  top: 1049px;
  left: 93px;
}

.campuslands-landing .text-wrapper-11 {
  position: absolute;
  height: 23px;
  top: 139px;
  left: 8px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 22.3px;
  white-space: nowrap;
}

.campuslands-landing .overlap-group-4 {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 26px;
  left: 50px;
  background-image: url(./img/ellipse-1-4.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-16 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 26px;
  left: 28px;
}

.campuslands-landing .group-wrapper-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.campuslands-landing .group-17 {
  position: relative;
  width: 432px;
  height: 2590px;
  margin-right: -2px;
}

.campuslands-landing .overlap-2 {
  position: relative;
  width: 430px;
  height: 2590px;
  background-color: #ffffff;
}

.campuslands-landing .text-wrapper-12 {
  position: absolute;
  height: 56px;
  top: 49px;
  left: 107px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 56px;
  white-space: nowrap;
}

.campuslands-landing .group-18 {
  position: absolute;
  width: 390px;
  height: 1391px;
  top: 144px;
  left: 20px;
  background-image: url(./img/rectangle-5.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-19 {
  position: absolute;
  width: 366px;
  height: 661px;
  top: 16px;
  left: 13px;
}

.campuslands-landing .overlap-3 {
  position: relative;
  width: 368px;
  height: 661px;
}

.campuslands-landing .group-20 {
  position: absolute;
  width: 368px;
  height: 661px;
  top: 0;
  left: 0;
}

.campuslands-landing .overlap-group-5 {
  position: relative;
  width: 366px;
  height: 661px;
  background-image: url(./img/rectangle-6.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .text-wrapper-13 {
  position: absolute;
  width: 286px;
  height: 96px;
  top: 502px;
  left: 56px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 32px;
}

.campuslands-landing .overlap-4 {
  position: relative;
  width: 366px;
  height: 661px;
  background-image: url(./img/rectangle-6-1.svg);
  background-size: 100% 100%;
}

.campuslands-landing .group-21 {
  position: absolute;
  width: 368px;
  height: 349px;
  top: 713px;
  left: 13px;
}

.campuslands-landing .overlap-5 {
  position: relative;
  width: 366px;
  height: 349px;
  background-image: url(./img/rectangle-7.png);
  background-size: 100% 100%;
}

.campuslands-landing .rectangle-3 {
  width: 366px;
  height: 349px;
  position: absolute;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-14 {
  position: absolute;
  width: 225px;
  height: 112px;
  top: 200px;
  left: 41px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 28px;
}

.campuslands-landing .group-22 {
  position: absolute;
  width: 368px;
  height: 278px;
  top: 1091px;
  left: 13px;
}

.campuslands-landing .overlap-6 {
  position: relative;
  width: 366px;
  height: 278px;
  background-image: url(./img/group-49.png);
  background-size: 100% 100%;
}

.campuslands-landing .rectangle-4 {
  position: absolute;
  width: 366px;
  height: 278px;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-15 {
  position: absolute;
  width: 196px;
  height: 56px;
  top: 190px;
  left: 41px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 28px;
}

.campuslands-landing .group-23 {
  height: 963px;
  top: 1562px;
  background-color: #5e3ae2;
  position: absolute;
  width: 395px;
  left: 15px;
  border-radius: 30px;
}

.campuslands-landing .group-24 {
  position: absolute;
  width: 286px;
  height: 111px;
  top: 55px;
  left: 39px;
}

.campuslands-landing .group-25 {
  position: relative;
  width: 290px;
  height: 111px;
}

.campuslands-landing .capa {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-16 {
  position: absolute;
  width: 227px;
  height: 40px;
  top: 2px;
  left: 58px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 20px;
}

.campuslands-landing .text-wrapper-17 {
  position: absolute;
  height: 60px;
  top: 51px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .group-26 {
  position: absolute;
  width: 314px;
  height: 111px;
  top: 545px;
  left: 39px;
}

.campuslands-landing .overlap-group-6 {
  position: relative;
  width: 318px;
  height: 111px;
}

.campuslands-landing .group-27 {
  position: absolute;
  width: 318px;
  height: 111px;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-18 {
  position: absolute;
  width: 250px;
  height: 40px;
  top: 0;
  left: 64px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 20px;
}

.campuslands-landing .group-28 {
  position: absolute;
  width: 334px;
  height: 113px;
  top: 217px;
  left: 39px;
}

.campuslands-landing .text-wrapper-19 {
  position: absolute;
  width: 272px;
  height: 42px;
  top: 0;
  left: 58px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 21px;
}

.campuslands-landing .equipo-adaptado-a {
  position: absolute;
  height: 60px;
  top: 53px;
  left: 1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .group-29 {
  position: absolute;
  width: 338px;
  height: 114px;
  top: 707px;
  left: 39px;
}

.campuslands-landing .text-wrapper-20 {
  width: 257px;
  height: 40px;
  top: 0;
  left: 63px;
  line-height: 20px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 16px;
  letter-spacing: -1px;
}

.campuslands-landing .plataformas {
  position: absolute;
  width: 334px;
  height: 60px;
  top: 54px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .group-30 {
  position: absolute;
  width: 352px;
  height: 113px;
  top: 381px;
  left: 39px;
}

.campuslands-landing .text-wrapper-21 {
  width: 291px;
  height: 36px;
  top: 3px;
  left: 58px;
  line-height: 18px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 16px;
  letter-spacing: -1px;
}

.campuslands-landing .an-lisis-detallado {
  position: absolute;
  height: 60px;
  top: 53px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .link-3 {
  display: flex;
  width: 320px;
  height: 58px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: absolute;
  top: 872px;
  left: 34px;
  background-color: #f0fdff;
  border-radius: 16px;
}

.campuslands-landing .da-ADS {
  color: #5e3ae2;
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.72px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .SVG {
  position: relative;
  width: 21px;
  height: 22px;
}

.campuslands-landing .group-31 {
  position: relative;
  width: 430px;
  height: 2270px;
  background-color: #f0fdff;
}

.campuslands-landing .group-32 {
  width: 399px;
  height: 643px;
  top: 251px;
  position: absolute;
  left: 15px;
}

.campuslands-landing .overlap-group-7 {
  position: relative;
  width: 395px;
  height: 643px;
  background-color: #ffffff;
  border-radius: 40px;
}

.campuslands-landing .text-wrapper-22 {
  position: absolute;
  width: 322px;
  height: 140px;
  top: 121px;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .ventajas-y-caracter {
  position: absolute;
  width: 322px;
  top: 282px;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.campuslands-landing .text-wrapper-23 {
  font-weight: 700;
}

.campuslands-landing .text-wrapper-24 {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.campuslands-landing .link-4 {
  display: flex;
  width: 308px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: absolute;
  top: 541px;
  left: 37px;
  background-color: #000087;
  border-radius: 16px;
}

.campuslands-landing .group-33 {
  width: 182px;
  height: 80px;
  top: 20px;
  left: 106px;
  background-image: url(./img/hooy1-1-1.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-34 {
  position: absolute;
  width: 399px;
  height: 598px;
  top: 958px;
  left: 15px;
}

.campuslands-landing .overlap-7 {
  position: relative;
  width: 395px;
  height: 598px;
  background-color: #ffffff;
  border-radius: 40px;
}

.campuslands-landing .text-wrapper-25 {
  position: absolute;
  width: 340px;
  height: 80px;
  top: 131px;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .ventajas-y-caracter-2 {
  width: 322px;
  top: 235px;
  position: absolute;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.campuslands-landing .group-35 {
  width: 195px;
  height: 86px;
  top: 17px;
  left: 99px;
  background-image: url(./img/peer-market-1-1.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .link-5 {
  display: flex;
  width: 308px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: absolute;
  top: 504px;
  left: 37px;
  background-color: #000087;
  border-radius: 16px;
}

.campuslands-landing .group-36 {
  position: absolute;
  width: 399px;
  height: 598px;
  top: 1620px;
  left: 15px;
}

.campuslands-landing .text-wrapper-26 {
  position: absolute;
  width: 322px;
  height: 100px;
  top: 131px;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.campuslands-landing .ventajas-y-caracter-3 {
  width: 321px;
  top: 245px;
  position: absolute;
  left: 37px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.campuslands-landing .group-37 {
  position: absolute;
  width: 321px;
  height: 59px;
  top: 39px;
  left: 37px;
  background-image: url(./img/taskman2-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-38 {
  position: absolute;
  width: 352px;
  height: 120px;
  top: 55px;
  left: 45px;
}

.campuslands-landing .text-wrapper-27 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 26px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #5e3ae2;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .desarrollos-propios {
  position: absolute;
  width: 348px;
  height: 80px;
  top: 40px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.24px;
  line-height: 40px;
}

.campuslands-landing .group-39 {
  position: relative;
  width: 430px;
  height: 3507px;
  background-color: #ffffff;
}

.campuslands-landing .group-40 {
  position: absolute;
  width: 395px;
  height: 692px;
  top: 1717px;
  left: 15px;
  background-color: #5e3ae2;
  border-radius: 30px;
}

.campuslands-landing .group-41 {
  position: absolute;
  width: 322px;
  height: 309px;
  top: 30px;
  left: 39px;
  background-image: url(./img/rectangle-5-1.png);
  background-size: 100% 100%;
}

.campuslands-landing .group-42 {
  position: absolute;
  width: 329px;
  height: 242px;
  top: 404px;
  left: 23px;
}

.campuslands-landing .text-wrapper-28 {
  position: absolute;
  width: 285px;
  height: 41px;
  top: 0;
  left: 40px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 30px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 30px;
}

.campuslands-landing .b-squeda-de-trabajo {
  position: absolute;
  width: 325px;
  top: 50px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f0fdff;
  font-size: 28px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 30px;
}

.campuslands-landing .group-43 {
  position: absolute;
  width: 320px;
  height: 143px;
  top: 74px;
  left: 57px;
}

.campuslands-landing .text-wrapper-29 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #5e3ae2;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .text-wrapper-30 {
  position: absolute;
  width: 316px;
  height: 110px;
  top: 33px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.24px;
  line-height: 40px;
}

.campuslands-landing .group-44 {
  width: 395px;
  height: 232px;
  top: 250px;
  background-color: #5e3ae2;
  border-radius: 30px;
  position: absolute;
  left: 15px;
}

.campuslands-landing .nos-enfocamos-en-wrapper {
  position: relative;
  width: 334px;
  height: 205px;
  top: 25px;
  left: 39px;
}

.campuslands-landing .nos-enfocamos-en {
  position: absolute;
  width: 332px;
  height: 205px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #f0fdff;
  font-size: 28px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 30px;
}

.campuslands-landing .text-wrapper-31 {
  font-weight: 800;
  letter-spacing: -0.28px;
}

.campuslands-landing .text-wrapper-32 {
  font-weight: 500;
  letter-spacing: -0.28px;
}

.campuslands-landing .group-45 {
  position: absolute;
  width: 395px;
  height: 113px;
  top: 1282px;
  left: 15px;
  background-color: #000087;
  border-radius: 30px;
}

.campuslands-landing .element-hrs-de-wrapper {
  position: relative;
  width: 309px;
  height: 68px;
  top: 23px;
  left: 45px;
}

.campuslands-landing .element-hrs-de {
  position: absolute;
  width: 307px;
  height: 68px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 38px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 26px;
}

.campuslands-landing .text-wrapper-33 {
  letter-spacing: -0.38px;
}

.campuslands-landing .text-wrapper-34 {
  font-size: 25px;
  letter-spacing: -0.25px;
}

.campuslands-landing .group-46 {
  position: absolute;
  width: 395px;
  height: 113px;
  top: 1417px;
  left: 15px;
  background-color: #5e3ae2;
  border-radius: 30px;
}

.campuslands-landing .element-hrs-aprendizaje-wrapper {
  position: relative;
  width: 337px;
  height: 68px;
  top: 23px;
  left: 17px;
}

.campuslands-landing .div-3 {
  position: absolute;
  width: 335px;
  height: 68px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #f0fdff;
  font-size: 38px;
  text-align: right;
  letter-spacing: -1px;
  line-height: 26px;
}

.campuslands-landing .group-47 {
  position: absolute;
  width: 395px;
  height: 113px;
  top: 1552px;
  left: 15px;
  background-color: #376781;
  border-radius: 30px;
}

.campuslands-landing .element-hrs-habilidades-wrapper {
  position: relative;
  width: 337px;
  height: 68px;
  top: 23px;
  left: 16px;
}

.campuslands-landing .group-48 {
  position: absolute;
  width: 395px;
  height: 387px;
  top: 534px;
  left: 15px;
  background-image: url(./img/rectangle-5-2.png);
  background-size: 100% 100%;
}

.campuslands-landing .group-49 {
  position: absolute;
  width: 395px;
  height: 273px;
  top: 973px;
  left: 15px;
  background-image: url(./img/rectangle-5-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.campuslands-landing .group-50 {
  position: absolute;
  width: 397px;
  height: 199px;
  top: 3245px;
  left: 15px;
}

.campuslands-landing .overlap-group-8 {
  position: relative;
  width: 395px;
  height: 199px;
  background-color: #f3f3f3;
  border-radius: 20px;
}

.campuslands-landing .link-6 {
  display: flex;
  width: 189px;
  height: 58px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: absolute;
  top: 114px;
  left: 105px;
  background-color: #5e3ae2;
  border-radius: 16px;
}

.campuslands-landing .da-ADS-2 {
  margin-left: -4.89px;
  color: #f0fdff;
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.72px;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .SVG-2 {
  margin-right: -4.89px;
  position: relative;
  width: 21px;
  height: 22px;
}

.campuslands-landing .text-wrapper-35 {
  position: absolute;
  width: 303px;
  height: 55px;
  top: 28px;
  left: 48px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #2a2a2a;
  font-size: 25px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 32px;
}

.campuslands-landing .footer {
  display: flex;
  flex-direction: column;
  height: 490px;
  align-items: center;
  justify-content: center;
  gap: 26px;
  padding: 16px 40px 23px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #5e3ae2;
}

.campuslands-landing .container-8 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 358px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  margin-top: -5.7px;
  margin-left: -20px;
  margin-right: -20px;
}

.campuslands-landing .container-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .heading-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-left: -5px;
  margin-right: -5px;
}

.campuslands-landing .heading-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 345.87px 0px 345.88px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .text-wrapper-36 {
  position: relative;
  width: 390px;
  margin-top: -1px;
  margin-left: -340.88px;
  margin-right: -340.88px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #f0fdff;
  font-size: 42px;
  text-align: center;
  letter-spacing: -2px;
  line-height: 40px;
}

.campuslands-landing .container-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 389.75px 0px 389.73px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .text-wrapper-37 {
  position: relative;
  width: 390px;
  margin-top: -1px;
  margin-left: -389.74px;
  margin-right: -389.74px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #f0fdff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.campuslands-landing .link-7 {
  display: flex;
  width: 210px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 32px;
  position: relative;
  background-color: #000000;
  border-radius: 16px;
}

.campuslands-landing .container-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  margin-top: -21px;
  margin-bottom: -21px;
  margin-left: -11px;
}

.campuslands-landing .text-wrapper-38 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #f0fdff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.campuslands-landing .group-51 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -19px;
  margin-bottom: -19px;
  margin-right: -11px;
  background-color: #364bfe;
  border-radius: 12px;
}

.campuslands-landing .overlap-group-9 {
  position: relative;
  width: 14px;
  height: 15px;
  top: 5px;
  left: 5px;
}

.campuslands-landing .vector {
  position: absolute;
  width: 14px;
  height: 2px;
  top: 6px;
  left: 0;
}

.campuslands-landing .vector-2 {
  position: absolute;
  width: 8px;
  height: 15px;
  top: 0;
  left: 6px;
}

.campuslands-landing .container-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 688.08px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.campuslands-landing .text-wrapper-39 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -614.08px;
  margin-right: -411.08px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #f0fdff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .text-wrapper-40 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -555.08px;
  margin-right: -512.08px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #f0fdff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .text-wrapper-41 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -454.08px;
  margin-right: -614.08px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #f0fdff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.campuslands-landing .container-13 {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 19.4px 0px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -5.7px;
  margin-left: -25px;
  margin-right: -25px;
  overflow: hidden;
}

.campuslands-landing .container-14 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.campuslands-landing .element-CAMPUSLANDS-ALL-wrapper {
  display: flex;
  width: 400px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 639.03px 0px 639.02px;
  position: relative;
}

.campuslands-landing .element-CAMPUSLANDS-ALL {
  position: relative;
  width: 397px;
  margin-top: -1px;
  margin-left: -637.53px;
  margin-right: -637.53px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #f0fdff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 19.2px;
}

.campuslands-landing .text-wrapper-42 {
  letter-spacing: -0.1px;
}

.campuslands-landing .text-wrapper-43 {
  font-weight: 500;
  letter-spacing: -0.1px;
}

.campuslands-landing .horizontal-border {
  position: absolute;
  width: 400px;
  height: 117px;
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f0fdff45;
}

.campuslands-landing .group-52 {
  height: 696px;
  top: 10781px;
  background-color: #f0fdff;
  position: absolute;
  width: 395px;
  left: 15px;
  border-radius: 30px;
}

.campuslands-landing .overlap-8 {
  position: relative;
  width: 334px;
  height: 590px;
  top: 53px;
  left: 46px;
}

.campuslands-landing .group-53 {
  position: absolute;
  width: 306px;
  height: 302px;
  top: 182px;
  left: 0;
  background-image: url(./img/rectangle-5-4.png);
  background-size: 100% 100%;
}

.campuslands-landing .group-54 {
  position: absolute;
  width: 334px;
  height: 590px;
  top: 0;
  left: 0;
}

.campuslands-landing .group-55 {
  position: relative;
  width: 340px;
  height: 590px;
}

.campuslands-landing .overlap-group-10 {
  position: absolute;
  width: 273px;
  height: 163px;
  top: 0;
  left: 0;
}

.campuslands-landing .text-wrapper-44 {
  position: absolute;
  width: 273px;
  height: 126px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #5e3ae2;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
}

.campuslands-landing .text-wrapper-45 {
  position: absolute;
  width: 273px;
  height: 46px;
  top: 117px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #5e3ae2;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
}

.campuslands-landing .de-una-manera {
  position: absolute;
  width: 334px;
  height: 77px;
  top: 513px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #5e3ae2;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
}

.campuslands-landing .text-wrapper-46 {
  font-weight: 600;
  letter-spacing: -0.3px;
}

.campuslands-landing .text-wrapper-47 {
  font-weight: 800;
  letter-spacing: -0.3px;
}
